.featuresContainer {
  margin-top: -65px;
  margin-bottom: 40px;
}
.featureCard {
  color: #fff;
  text-shadow: 0 0 1rem rgb(0 0 0 / 10%);
  background-color: #202020;
  box-shadow: 0 0 0 1px rgb(82 82 82 / 60%);
  overflow: hidden;
  border-radius: 1.78em;
  padding: 1.5rem 1.75rem;
}

.featureImage {
  width: 100%; 
  height: auto;
  border-radius: 8px;
  margin-top: 10px; 
}
