.hero {
  color: #fff;
  padding: 50px 0 100px;
  margin-bottom: 80px;
}

.contentHero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroFeatures {
  margin-top: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.hero h2 {
  color: fff;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 30px;
  font-weight: 500;
  width: 50%;
}
.hero h1 {
  background: linear-gradient(146deg, #fff, #757a7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.linkHero {
  text-decoration: none;
}

.btnHero {
  width: 230px;
  color: #fff;
}
